.top-menu {
    position:fixed;
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.top-menu>h1 {
    margin-left: 10px;
}

.top-menu>button{
    margin-left: 10px;
}
